{
    "basePath": "",
    "baseUrl": "https://fcmregistrations.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Fcmregistrations",
    "description": "",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "fcmregistrations:v1",
    "kind": "discovery#restDescription",
    "name": "fcmregistrations",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "registrations": {
                    "methods": {
                        "create": {
                            "description": "Examples: curl -X POST -H \"Content-Type: application/json\" -H \"X-Goog-Api-Key: AIzaSyAMumboJumbojFTVX2lTBQ” -H \"X-Goog-Firebase-Installations-Auth: eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJmaWQiOiJjZEV6WVFhaWZoOXR5dVF5ZktvR3M4IiwicHJvamVjdE51bWJlciI6MzUwMDY3NzEyNjMsImV4cCI6MTU2NjMyMzg5NCwiYXBwSWQiOiIxOjM1MDA2NzcxMjYzOmFuZHJvaWQ6Mjc4NTNlNTJkMzMxZTQyMiJ9.ABdN8xAwRQIgSNvJtB--vTNoxDIZiryYi1z05mCfqCj7nbJlsirJ5UYCIQC7BoXW9xvYEi9qASd1nWU0Crs1u3SRhq0BmJLgm9msIA\" -d \"{ 'javascript': { 'endpoint': 'https://fcm.googleapis.com/fcm/send/eTgyI1vNRYs:APA91bG4g3QzXI8opChSFfwz3vS6GQN8WfcOA-SEL6bFDje79UEu2wft3EHgoefwPayQ_nWWXfKbRT5eya1jjLzWugOvWUeSlPUwcT6-A1XOlOqRxVaAqtFaZM5gte7Ay-fT8sAoiEuE', 'p256dh': 'BDV5QV8YK9QH7WdfjVdo0l-njtu5nySdMPbFgIY1xdgu5Ks3ZbxkJqdXzaZxKhgOgcspCYjgcTrhhkmOSrN8bho', 'auth': '4sOuBLO7qbdDguQu0DnWaQ', 'application_pub_key': 'BE1y40dQNCrNODvWszwjdYeJEbYZmcHYcKuMgqDBWKlMi06Tm9m1Dxmo5mmJC7j3wVWw76ekeZ999cyz5TwdzBw'}}\" https://fcmregistrations.googleapis.com/v1/projects/android-gcm-test-519bd/registrations",
                            "flatPath": "v1/projects/{projectsId}/registrations",
                            "httpMethod": "POST",
                            "id": "fcmregistrations.projects.registrations.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "The GCP project id, e.g. projects/my-project-123",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/registrations",
                            "request": {
                                "$ref": "GoogleFirebaseFcmRegistrationV1Registration"
                            },
                            "response": {
                                "$ref": "GoogleFirebaseFcmRegistrationV1Registration"
                            }
                        },
                        "delete": {
                            "description": "Deletes the FCM registration and the token stops working immediately.",
                            "flatPath": "v1/projects/{projectsId}/registrations/{registrationsId}",
                            "httpMethod": "DELETE",
                            "id": "fcmregistrations.projects.registrations.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The registration identifier. Same as the \"name\" field when creating registrations. e.g. projects/my-project-123/registrations/fVcrSGE6ahM:APA91bHYyExFXG0bNYXg",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/registrations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            }
                        },
                        "patch": {
                            "description": "Updates an existing FCM Registration. Currently only useful for JavaScript registrations.",
                            "flatPath": "v1/projects/{projectsId}/registrations/{registrationsId}",
                            "httpMethod": "PATCH",
                            "id": "fcmregistrations.projects.registrations.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Output only. Assigned by server. The identifier for the registration. e.g. projects/my-project-123/registrations/fVcrSGE6ahM:APA91bHYyExFXG0bNYXg",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/registrations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "description": "The list of fields to be updated.",
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleFirebaseFcmRegistrationV1Registration"
                            },
                            "response": {
                                "$ref": "GoogleFirebaseFcmRegistrationV1Registration"
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20220505",
    "rootUrl": "https://fcmregistrations.googleapis.com/",
    "schemas": {
        "GoogleFirebaseFcmRegistrationV1Registration": {
            "description": "The registration data needed for routing and delivering a notification.",
            "id": "GoogleFirebaseFcmRegistrationV1Registration",
            "properties": {
                "name": {
                    "description": "Output only. Assigned by server. The identifier for the registration. e.g. projects/my-project-123/registrations/fVcrSGE6ahM:APA91bHYyExFXG0bNYXg",
                    "type": "string"
                },
                "token": {
                    "description": "Output only. Assigned by server. The FCM Token.",
                    "type": "string"
                },
                "web": {
                    "$ref": "GoogleFirebaseFcmRegistrationV1Web",
                    "description": "Registrations created through the FCM JS SDK."
                }
            },
            "type": "object"
        },
        "GoogleFirebaseFcmRegistrationV1Web": {
            "description": "Registration data for the [JS SDK](https://firebase.google.com/docs/cloud-messaging/js/client), which wraps the [Push API](https://www.w3.org/TR/push-api/).",
            "id": "GoogleFirebaseFcmRegistrationV1Web",
            "properties": {
                "applicationPubKey": {
                    "description": "Vapid Public key to be used for authentication when sending to external web clients. Additional optional parameter to be associated with a standard webpush subscription.",
                    "type": "string"
                },
                "auth": {
                    "description": "An authentication secret, as described in [Message Encryption for Web Push](https://tools.ietf.org/html/draft-ietf-webpush-encryption-08).",
                    "type": "string"
                },
                "endpoint": {
                    "description": "The endpoint takes the form of a custom URL pointing to a push server, which can be used to send a push message.",
                    "type": "string"
                },
                "p256dh": {
                    "description": "An Elliptic curve Diffie–Hellman public key on the P-256 curve (that is, the NIST secp256r1 elliptic curve). The resulting key is an uncompressed point in ANSI X9.62 format.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleProtobufEmpty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
            "id": "GoogleProtobufEmpty",
            "properties": {},
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "FCM Registration API",
    "version": "v1",
    "version_module": true
}