{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://firebasepredictions.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Firebasepredictions",
    "description": "",
    "discoveryVersion": "v1",
    "documentationLink": "https://firebase.google.com",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "firebasepredictions:v1beta1",
    "kind": "discovery#restDescription",
    "name": "firebasepredictions",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "apps": {
                    "resources": {
                        "installations": {
                            "resources": {
                                "predictions": {
                                    "methods": {
                                        "compute": {
                                            "description": "Computes predictions for the events and risk tolerances specified.",
                                            "flatPath": "v1beta1/projects/{projectsId}/apps/{appsId}/installations/{installationsId}/predictions:compute",
                                            "httpMethod": "POST",
                                            "id": "firebasepredictions.projects.apps.installations.predictions.compute",
                                            "parameterOrder": [
                                                "installation"
                                            ],
                                            "parameters": {
                                                "installation": {
                                                    "description": "Required. An identifier for an \"installation\" of an \"app\". Must have the format of \"projects/*/apps/*/installations/*\", although the \"app\" and \"installation\" may have different formats for different sources.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/apps/[^/]+/installations/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1beta1/{+installation}/predictions:compute",
                                            "request": {
                                                "$ref": "GoogleFirebasePredictionsV1beta1ComputePredictionsRequest"
                                            },
                                            "response": {
                                                "$ref": "GoogleFirebasePredictionsV1beta1ComputePredictionsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20220208",
    "rootUrl": "https://firebasepredictions.googleapis.com/",
    "schemas": {
        "GoogleFirebasePredictionsV1beta1ComputePredictionsRequest": {
            "description": "Request message for FirebasePredictionsService.ComputePrediction.",
            "id": "GoogleFirebasePredictionsV1beta1ComputePredictionsRequest",
            "properties": {
                "predictionIds": {
                    "description": "List of prediction IDs to include in the response. Prediction ID is the one that developers provide with the new prediction card in UI. Leave this empty to return all predictions.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "requestCaller": {
                    "description": "Request caller as defined by the above enum.",
                    "enum": [
                        "UNKNOWN_CALLER",
                        "REMOTE_CONFIG",
                        "NOTIFICATION",
                        "IN_APP_MESSAGING"
                    ],
                    "enumDescriptions": [
                        "Default unknown caller.",
                        "Called through remote config.",
                        "Called through notification.",
                        "Called through in app messaging."
                    ],
                    "type": "string"
                },
                "requestType": {
                    "description": "Request type as defined by the above enum.",
                    "enum": [
                        "UNKNOWN_TYPE",
                        "LOOKUP",
                        "EVALUATION",
                        "ESTIMATION"
                    ],
                    "enumDescriptions": [
                        "Default unknown type.",
                        "Request for lookup",
                        "Request for evaluation.",
                        "Request for estimation."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleFirebasePredictionsV1beta1ComputePredictionsResponse": {
            "description": "Response message for FirebasePredictionsService.",
            "id": "GoogleFirebasePredictionsV1beta1ComputePredictionsResponse",
            "properties": {
                "predictions": {
                    "description": "The data for the predictions.",
                    "items": {
                        "$ref": "GoogleFirebasePredictionsV1beta1Prediction"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleFirebasePredictionsV1beta1Prediction": {
            "description": "Metadata for a prediction for a specific event.",
            "id": "GoogleFirebasePredictionsV1beta1Prediction",
            "properties": {
                "percentile": {
                    "description": "The percentile where the predicted probability falls for this prediction, compared to installations that are considered active, in the range [0, 1].",
                    "format": "float",
                    "type": "number"
                },
                "predictionId": {
                    "description": "Prediction ID. Prediction ID is provided by the developer when creating the prediction and can not be changed.",
                    "type": "string"
                },
                "probability": {
                    "description": "The current predicted probability, in the range [0, 1].",
                    "format": "float",
                    "type": "number"
                },
                "state": {
                    "description": "Prediction state. The prediction is healthy and ready to be used only when the state is ACTIVE.",
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "INSUFFICIENT_DATA",
                        "PREPARING_MODEL"
                    ],
                    "enumDescriptions": [
                        "By default, the state is unspecified.",
                        "The prediction is ready to be used.",
                        "Prediction is unavailable due to insufficient data.",
                        "The model is currently being trained."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Firebase Predictions API",
    "version": "v1beta1",
    "version_module": true
}